# 1- Data Types

    In programming, data type is a classification that 
	specifies which type of value a variable has.

### Basic Data Types
    1 			# Int    
    5.0			# Float    
    'Vinay'		# String    
    True 		# Boolean    
    None		# NoneType

### Check Datatype of Variable

In [5]:
type(2)

int

In [4]:
type(3.0)

float

In [6]:
type('Vinay')

str

In [7]:
type(True)

bool

### Convert varibale into another datatype

In [8]:
float(2)

2.0

In [9]:
int(3.0)

3

In [10]:
str(2.0)

'2.0'

# 2- Variable

    Variables are used to reserved memory locations to store values. 
   	This means that when you create a variable you reserve some space in memory.

In [11]:
## Int Variable
one = 1
print(one)

1

In [12]:
## Float Variable
price = 2.5;
print(price)

2.5

In [13]:
## String Variable
name = 'Vinay Singh';
print(name)

Vinay Singh

In [14]:
## Boolean Variable
true_variable = True
print(true_variable)

True

# 3- Control Flow

    uses an expression to evaluate whether a statement is True or False. 
	If it is True, it executes what is inside the “if” statement.

In [16]:
## IF Statements
if True:
	print("Hello This is if statement!")

if 5 > 2:
	print("5 is greater than 2.")

Hello This is if statement!
5 is greater than 2.

In [19]:
## If Else Statement
if 5 < 2:
	print("5 is lss than 2.")
else:
	print("5 is greater than 2.")

5 is greater than 2.

In [18]:
## If Else If Statement
if 1 > 2:
  print("1 is greater than 2")
elif 2 > 1:
  print("1 is not greater than 2")
else:
  print("1 is equal to 2")

1 is not greater than 2

# 4- Looping

    Looping or Iterators are used to execute a block of code until a condition is satisfied.

### While Loop

In [2]:
number = 1
while number <= 5:
	print(number)
	number = number+1

1
2
3
4
5

### For Loop

In [4]:
for x in range(1,5):
	print(x)

1
2
3
4

# 5- List

    Lists are just like the arrays declared in other languages, in which you
    can store multiple values in a single varible.
    In Python lists are written with square brackets.
    A single list can contain strings, integers, as well as objects

### Create a empty list

In [5]:
my_list = []
# OR
my_list = list()
print(my_list)

[]

### Create List with initial values

In [6]:
my_list = [1,2,3,4]
print(my_list)

[1, 2, 3, 4]

### Accessing list elements

In [7]:
print(my_list[0])

1

In [8]:
print(my_list[3])

4

### Modify list with multiple operations

In [15]:
my_new_list = []
my_new_list.append('Apple') # appends 'Apple' in empty list
my_new_list.append('Bat')   # appends 'Bat' in empty list
my_new_list.append('Cat')   # appends 'Cat' in empty list

print(my_new_list)

['Apple', 'Bat', 'Cat']

In [16]:
my_new_list.insert(0, 'Dog') # inserts element 'Dog' at index 0
print(my_new_list)

['Dog', 'Apple', 'Bat', 'Cat']

In [17]:
my_new_list.remove('Cat') # finds first instance of 'Cat' and remove it
print(my_new_list)

['Dog', 'Apple', 'Bat']

In [18]:
my_new_list[0] = 'Bird'  # replace element 0 with 'Bird' 
print(my_new_list)

['Bird', 'Apple', 'Bat']

# 6- Tuple

    A tuple is a collection like list which is ordered but unchangeable. 
    In Python tuples are written with round brackets.

### Create a tuple

In [19]:
my_tuple = ('apple', 'banana', 'orange')
print(my_tuple)

('apple', 'banana', 'orange')

### Access tuple items

In [20]:
print(my_tuple[0])

apple

In [21]:
# len function returns length of a list Or number of items in a list
tuple_length = len(my_tuple) 
print(tuple_length)

3

### Operations of tuple

In [22]:
my_tuple = my_tuple + ('cherry','mango') 
# appends 'cherry' and 'mango' in tuple
print(my_tuple)

('apple', 'banana', 'orange', 'cherry', 'mango')

In [24]:
my_tuple[2] = 2
# throws an error because elements of a tuple cannot be modified

TypeError: 'tuple' object does not support item assignment

# 7- String
    
    String variables in python are surrounded by either single quotation marks,
    or double quotation marks

In [26]:
# Create a string variable
my_string = 'Hello World'
print(my_string)

Hello World

In [27]:
# Examine a string variable
print(my_string[0])

H

In [28]:
# len function returns length of string variable
string_length = len(my_string) 
print(string_length)

11

### Basic string operations

In [29]:
# sets all characters in lower case
my_lower = my_string.lower()           
print(my_lower)

hello world

In [30]:
# sets all characters in upper case
my_upper = my_string.upper()   
print(my_upper)

HELLO WORLD

In [31]:
# find index of first occurrence of given string
my_index = my_string.find('Hello')      
print(my_index)

0

In [32]:
# find index of first occurrence of given string
my_index = my_string.find('like')  
# returns -1 since string does't contain word 'like'
print(my_index)

-1

In [33]:
# replaces all instances of 'World' with 'Vinay'
my_replace = my_string.replace('World', 'Vinay')    
print(my_replace)

Hello Vinay

# 8- Dictionary
    
       Dictionary is a collection of key-value pairs.
       keys must be unique, and can be strings, numbers, or tuples.
       values can be any type.

### Create a empty dictionary

In [34]:
empty_dict = {}
#OR
empty_dict = dict()
print(empty_dict)

{}

### Create a dictionary with initial elements

In [35]:
my_info = {'name':'Vinay Singh', 'city':'Allahabad','pin':323232}
#OR
my_info =  dict(name='Vinay Singh', city='Allahabad', pin=323232)

print(my_info)

{'name': 'Vinay Singh', 'city': 'Allahabad', 'pin': 323232}

### Access a dictionary

In [36]:
print(my_info['name'])

Vinay Singh

In [37]:
# length of dictionary
print(len(my_info))

3

In [38]:
check_key = 'name' in my_info  #(only checks keys)
print(check_key)

True

### Modify a dictionary

In [39]:
# add a new entry
my_info['gender'] = 'Male'
print(my_info)

{'name': 'Vinay Singh', 'city': 'Allahabad', 'pin': 323232, 'gender': 'Male'}

In [40]:
# edit an existing entry
my_info['city'] = 'Noida'
print(my_info)

{'name': 'Vinay Singh', 'city': 'Noida', 'pin': 323232, 'gender': 'Male'}

In [41]:
# delete an entry
del my_info['pin']
print(my_info)

{'name': 'Vinay Singh', 'city': 'Noida', 'gender': 'Male'}

# 9- Funtions

    	A function is a block of code which performs a particular task
   	and it only runs when it is called.
	You can pass data, known as parameters, into a function.

In [42]:
# Define a function with no arguments and no return values
def print_hello():
    print('Hello Python!')

In [43]:
# Call the function 
print_hello()

Hello Python!

In [46]:
# Functions with one argument and no return value
def print_name(name):
    print(name)

print_name('Vinay Singh')

Vinay Singh

In [47]:
# Functions with one argument and one return value
def square_root(x):
    return x*x

square = square_root(2)   
print(square)

4

In [ ]:
# define a function with two arguments (no default values) and 
# one argument (has a default value)

def my_calculator(x, y, operation='add'):
    if operation == 'add':
        return x + y
    elif operation == 'sub':
        return x - y
    else:
        print('valid operations are add and sub')

# Function Call
print(my_calculator(3, 5, 'add'))# returns 8
print(my_calculator(3, 5))			# returns 8 because we have set default value of argument operation
print(my_calculator(5, 2, 'sub'))	# returns 3